@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 50px auto 80px;
  column-gap: 80px;
  padding: 80px 100px 32px;
  margin-top: 140px;
  border-radius: 12px;
  background-color: colors.$color-main-black;

  &-column-title {
    @include fonts.font(16px, 600, 140%);
    color: colors.$color-main-white;
  }

  &-column-content {
    gap: 16px;

    li {
      @include fonts.font(16px, 400, 140%);
      color: colors.$color-gray-light;

      .socials {
        width: min-content;
      }
    }

    .contacts & {
      font-style: normal;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;

        &:nth-of-type(3) {
          padding-bottom: 20px;
          border-bottom: solid colors.$color-gray-dark 1px;
        }
      }
    }
  }

  &-column-footer {
    color: colors.$color-gray-darker;
    align-self: end;

    &:nth-of-type(3) {
      display: flex;
      align-items: flex-end;

      .designed-by-link {
        text-decoration: underline;
      }

      .scroll-up-button {
        width: 48px;
        height: 48px;
        padding: 0;
        margin-left: auto;
        background-color: colors.$color-gray-dark;

        &:hover {
          background-color: colors.$color-main-blue;

          &:active {
            background-color: colors.$color-main-black;
          }
        }

        img {
          position: relative;
          top: 3px;
        }
      }
    }
  }

  @include responsive.ipad-styles {
    padding: 56px 48px 27px;
    margin-top: 100px;

    &-column-title {
      font-size: 14px;
    }

    &-column-content {
      li {
        font-size: 14px;
      }
    }

    &-column-footer {
      font-size: 12px;

      &:nth-of-type(3) {
        .scroll-up-button {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
}