@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

$dark-gray-color-filter: brightness(0) saturate(100%) invert(40%) sepia(4%) saturate(0%) hue-rotate(174deg) brightness(95%) contrast(86%);

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 100px;
  border-radius: 12px;
  background-color: colors.$color-blue-light;
  position: relative;
  overflow: hidden;

  .title {
    @include fonts.font(40px, 600, 125%);
  }

  .faq-list {
    gap: 16px;
    width: 100%;

    &-item {
      padding: 32px;
      border-radius: 8px;
      background-color: colors.$color-main-white;

      &-question {
        @include fonts.font(20px, 600, 120%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
      }

      &-answer {
        @include fonts.font(16px, 400, 160%);
        margin-top: 24px;
      }

      .plus-icon {
        transition-duration: var(--global-transition-duration);
      }

      &[open] .plus-icon {
        filter: $dark-gray-color-filter;
        transform: rotate(135deg);
      }
    }
  }

  @include responsive.ipad-styles {
    .title {
      font-size: 30px;
    }

    .faq-list {
      &-item {
        padding: 24px;

        &-question {
          font-size: 16px;
        }

        &-answer {
          font-size: 14px;
        }
      }
    }
  }
  
  @include responsive.mobile-styles {
    gap: 24px;
    width: auto;
    padding: 56px 16px;
    margin: 0 15px;

    .title {
      font-size: 24px;
      text-align: center;
    }

    .faq-list {
      gap: 8px;

      &-item {
        padding: 20px;
      }
    }
  }
}