@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px 20px 20px;

  .title {
    @include fonts.font(30px, 600, 125%);
  }

  .text {
    @include fonts.font(16px, 400, 140%);
  }

  @include responsive.ipad-styles {
    .title {
      font-size: 20px;
    }

    .text {
      font-size: 14px;
    }
  }
}