@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: repeat(3, 240);
  gap: 30px;

  .service {
    display: grid;
    grid-template-areas:
      "image upper"
      "image middle"
      "image lower"
    ;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr repeat(2, min-content);
    column-gap: 30px;
    padding: 30px;
    border: solid colors.$color-gray-lighter 1px;
    border-radius: 8px;
    background-color: colors.$color-gray-light;

    .service-image {
      grid-area: image;
      object-fit: cover;
    }

    .service-label {
      @include fonts.font(20px, 600, 120%);
      grid-area: upper;
    }

    .with-parts {
      @include fonts.font(16px, 600, 140%);
      grid-area: middle;
      color: colors.$color-gray-darker;
    }

    .service-footer {
      grid-area: lower;
      display: flex;
      align-items: flex-end;

      .price {
        @include fonts.font(20px, 600, 120%);
      }

      .service-learn-more {
        margin-left: auto;

        &-button {
          height: fit-content;
          padding: 0;
        }
      }
    }
  }
}