@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.how-we-differ {
  display: grid;
  grid-template-areas:
    "title title title"
    "image differences differences"
    "image differences differences"
  ;
  gap: 30px;
  padding: 100px;
  border-radius: 12px;
  background-color: colors.$color-gray-light;

  .title {
    @include fonts.font(40px, 600, 125%);
    grid-area: title;
    margin-bottom: 26px;
    text-align: center;
  }

  .image-wrapper {
    grid-area: image;
    width: 278px;
    height: 434px;
    margin-right: 26px;
    position: relative;

    .image {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .differences {
    grid-area: differences;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

    .difference {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 32px;
      border-radius: 8px;
      background-color: colors.$color-main-white;

      &-text {
        @include fonts.font(20px, 600, 120%);
        text-align: center;
      }
    }
  }

  @include responsive.ipad-styles {
    padding: 56px 48px;

    .title {
      font-size: 30px;
    }

    .image-wrapper {
      width: 231px;
      margin-right: 10px;

      .image {
        width: 50%;
        height: 50%;
      }
    }

    .differences {
      .difference {
        padding: 32px 20px;

        &-text {
          font-size: 16px;
        }
      }
    }
  }

  @include responsive.mobile-styles {
    grid-template-areas:
      "title"
      "differences"
      "image";
    grid-template-columns: 1fr;
    gap: 24px;
    width: auto;
    padding: 56px 48px;
    margin: 0 15px;

    .title {
      margin: 0;
      font-size: 24px;
    }

    .image-wrapper {
      width: 100%;
      height: 100vw;

      .image {
        object-position: top center;
      }
    }

    .differences {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
}