@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.how-we-differ {
  display: grid;
  grid-template-areas:
    "title title title"
    "image differences differences"
    "image differences differences"
  ;
  gap: 30px;
  padding: 100px;
  border-radius: 12px;
  background-color: colors.$color-gray-light;

  .title {
    @include fonts.font(40px, 600, 125%);
    grid-area: title;
    margin-bottom: 26px;
    text-align: center;
  }

  .image-wrapper {
    grid-area: image;
    width: 278px;
    height: 434px;
    margin-right: 26px;
    position: relative;

    .image {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  .difference {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 32px;
    border-radius: 8px;
    background-color: colors.$color-main-white;

    &-text {
      @include fonts.font(20px, 600, 120%);
      text-align: center;
    }
  }

  @include responsive.ipad-styles {
    padding: 56px 48px;
    .title {
      font-size: 30px;
    }

    .image-wrapper {
      width: 231px;
      margin-right: 10px;

      .image {
        width: 50%;
        height: 50%;
      }
    }

    .difference {
      padding: 32px 20px;

      &-text {
        font-size: 16px;
      }
    }
  }
}