@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/responsive.scss";

.popular-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: colors.$color-gray-light;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  .popular-services-title {
    @include fonts.font(40px, 600, 125%);
    margin-bottom: 56px;
    text-align: center;
  }

  .services-list {
    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(3, 303px);
    gap: 30px;
    margin-bottom: 26px;
  }

  @include responsive.ipad-styles {
    padding: 56px 47px;

    .popular-services-title {
      @include fonts.font(30px, 600, 125%);
      margin-bottom: 40px;
    }

    .services-list {
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(2, 335px);
    }
  }

  @include responsive.mobile-styles {
    .services-slider {
      .service-link {
        height: 100%;
      }
    }
  }
}
