@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.popular-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  background-color: colors.$color-gray-light;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  z-index: 0;

  .popular-services-title {
    @include fonts.font(40px, 600, 125%);
    margin-bottom: 56px;
    text-align: center;
  }

  .services-list {
    display: grid;
    grid-template-rows: repeat(3, 400px);
    grid-template-columns: repeat(3, 303px);
    gap: 30px;
    margin-bottom: 26px;

    .service {
      display: flex;
      flex-direction: column;
      gap: 16px;
      height: 100%;
      padding: 20px;
      border: solid colors.$color-gray-darker 1px;
      border-radius: 8px;
      background-color: colors.$color-gray-light;
      transition-duration: var(--global-transition-duration);

      &:hover {
        border: solid colors.$color-main-white 1px;
        background-color: colors.$color-main-white;
      }

      .service-image {
        border-radius: 3px;
      }

      .service-title {
        @include fonts.font(20px, 600, 120%);
      }
      
      .price-block {
        @include fonts.font(16px, 600, 140%);
        white-space: nowrap;

        .dynamic-price-text {
          color: colors.$color-gray-dark;
        }

        .price, .free-with-repairs-text {
          color: colors.$color-main-blue;
        }

        .price-comment {
          color: colors.$color-gray-darker;
        }
      }

      .service-footer {
        display: flex;
        margin-top: auto;

        &-block {
          display: flex;
          flex-direction: column;
          gap: 4px;
          font-weight: 600;

          &-title {
            color: colors.$color-gray-darker;
          }

          &:first-child {
            margin-right: auto;
          }
        }
      }
    }
  }
}