@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.about-us {
  display: flex;
  flex-direction: column;
  gap: 140px;
  
  .description-block {
    display: grid;
    grid-template-areas:
      "title image"
      "description image"
    ;
    grid-template-columns: 570px auto;
    grid-template-rows: fit-content auto;
    column-gap: 130px;

    .title {
      @include fonts.font(40px, 600, 125%);
      grid-area: title;
    }

    .description {
      grid-area: description;
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-paragraph {
        @include fonts.font(16px, 400, 160%);

        .bold {
          font-weight: 600;
        }
      }
    }

    .image-wrapper {
      grid-area: image;
      width: 470px;
      height: 512px;
      position: relative;

      .image {
        border-radius: 12px;
        object-fit: cover;
      }
    }
  }

  @include responsive.ipad-styles {
    gap: 100px;
    
    .description-block {
      grid-template-columns: 1fr 382px;
      column-gap: 30px;

      .title {
        font-size: 30px;
      }

      .description {
        &-paragraph {
          font-size: 14px;
        }
      }

      .image-wrapper {
        width: 382px;
        height: 512px;

        .image {
          object-position: center left;
        }
      }
    }
  }
}