@use "../../styles/responsive.scss";

.category-layout {
  display: flex;
  flex-direction: column;
  gap: 140px;

  @include responsive.ipad-styles {
    gap: 100px;
  }

  @include responsive.mobile-styles {
    gap: 72px;
  }
}
