@use '../../../styles/fonts.scss';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .icon-text-pair {
    @include fonts.font(14px, 400, 140%);
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .open-hours, .contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .logo, .open-hours {
    margin-right: 50px;
  }

  .contacts {
    margin-right: 38px;
  }

  .call-me-back {
    width: 187px;
    height: 48px;
    margin-left: auto;
  }
}