@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.contacts {
  display: flex;
  gap: 134px;

  .left-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .title {
      @include fonts.font(40px, 600, 125%);
    }

    .contact-info {
      gap: 16px;

      li {
        display: flex;
        align-items: center;
        gap: 12px;
        font-style: normal;
      }
    }

    .map-wrapper {
      width: 570px;
      height: 283px;
      position: relative;

      .map {
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  @include responsive.ipad-styles {
    gap: 110px;

    .left-content {
      .title {
        font-size: 30px;
      }

      .contact-info {
        li {
          font-size: 14px;
        }
      }

      .map-wrapper {
        width: 360px;
        height: 227px;
      }
    }
  }

  @include responsive.mobile-styles {
    flex-direction: column;
    gap: 72px;
    padding: 0 15px;

    .left-content {
      gap: 24px;
      position: relative;

      .title {
        font-size: 24px;
      }

      .map-wrapper {
        width: 100%;
      }
    }
  }
}