@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";

.button {
  @include fonts.font(14px, 600, 125%);
  height: 3em;
  padding: 0 1em;
  border: none;
  border-radius: 6px;
  transition-duration: var(--global-transition-duration);
  position: relative;
  cursor: pointer;

  .button-text {
    color: inherit;
  }

  &.with-hover-icon {
    .icon,
    .hover-icon {
      transition-duration: var(--global-transition-duration);
    }

    .hover-icon {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      opacity: 0;
    }

    &:hover:not(:active) {
      .icon {
        visibility: hidden;
        opacity: 0;
      }

      .hover-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.default {
    color: colors.$color-main-white;
    background-color: colors.$color-main-blue;

    &:hover:not(:active) {
      background-color: colors.$color-blue-dark;
    }
  }

  &.monochrome {
    border: solid colors.$color-main-black 1px;
    color: colors.$color-main-black;
    background-color: colors.$color-main-white;

    &:hover:not(:active) {
      border: solid colors.$color-main-blue 1px;
      color: colors.$color-main-white;
      background-color: colors.$color-main-blue;
    }
  }

  &.text-only {
    padding: 0;
    color: colors.$color-main-blue;
    background-color: transparent;

    &:hover:not(:active) {
      color: colors.$color-blue-dark;
    }
  }
}
