@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.service {
  display: grid;
  grid-template-areas:
    "description form"
    "content content"
  ;
  grid-template-columns: auto 460px;
  gap: 56px 130px;

  .description-wrapper {
    grid-area: description;

    .description-title {
      @include fonts.font(40px, 600, 125%);
      margin-bottom: 40px;
    }

    .description-price-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: fit-content;
      padding: 24px;
      border: solid colors.$color-main-blue 1px;
      border-radius: 8px;

      .description-price {
        @include fonts.font(20px, 600, 120%);
      }

      .with-parts {
        @include fonts.font(16px, 600, 140%);
        color: colors.$color-main-blue;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .description-text {
        @include fonts.font(16px, 400, 160%);
      }

      .description-list-title {
        @include fonts.font(20px, 600, 140%);
      }

      .description-list {
        gap: 8px;

        li {
          @include fonts.font(16px, 400, 160%);
          display: flex;
          align-items: flex-start;
          gap: 14px;

          img {
            position: relative;
            top: 7px;
          }
        }
      }

      .description-image-wrapper {
        width: 570px;
        height: 350px;
        margin-top: 40px;
        position: relative;

        .description-image {
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }
  }

  .call-me-back-form {
    grid-area: form;
  }

  .content-wrapper {
    grid-area: content;
  }

  @include responsive.ipad-styles {
    grid-template-columns: 1fr 1fr;
    gap: 40px 90px;

    .description-wrapper {
      .description-title {
        font-size: 30px;
      }

      .description-price-block {
        gap: 6px;
        padding: 16px;

        .description-price {
          font-size: 16px;
        }

        .with-parts {
          font-size: 14px;
        }
      }

      .description {
        .description-text {
          font-size: 14px;
        }

        .description-list-title {
          font-size: 20px;
        }

        .description-list {
          li {
            font-size: 14px;
          }
        }

        .description-image-wrapper {
          width: 382px;
          height: 250px;
        }
      }
    }
  }

  @include responsive.mobile-styles {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 15px;

    .description-wrapper {
      .description-title {
        font-size: 24px;
      }

      .description {
        .description-list-title {
          font-size: 16px;
        }

        .description-image-wrapper {
          width: 100%;
          margin: 0;
        }

        .call-me-back-button {
          width: 80%;
          height: 54px;
        }
      }
    }
  }
}