@use "../../styles/responsive.scss";

.service {
  display: grid;
  grid-template-areas:
    "description form"
    "content content";
  grid-template-columns: auto 460px;
  gap: 56px 130px;

  .call-me-back-form {
    grid-area: form;
  }

  .content-wrapper {
    grid-area: content;
  }

  @include responsive.ipad-styles {
    grid-template-columns: 1fr 1fr;
    gap: 40px 90px;
  }

  @include responsive.mobile-styles {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 15px;
  }
}
