@use "../../../../styles/fonts.scss";
@use "../../../../styles/colors.scss";
@use "../../../../styles/responsive.scss";

$icon-color-filter: brightness(0) saturate(100%) invert(60%) sepia(8%) saturate(16%) hue-rotate(316deg) brightness(94%) contrast(88%);

.breadcrumb {
  display: flex;
  align-items: center;

  &-label {
    @include fonts.font(14px, 400, 100%);
    margin-right: 12px;

    &.light {
      color: colors.$color-gray-darker;
    }
  }

  .breadcrumb-home-icon {
    margin-right: 4px;
  }

  .breadcrumb-arrow-icon {
    filter: $icon-color-filter;
  }

  &.disabled {
    pointer-events: none;
  }

  @include responsive.ipad-styles {
    &-label {
      font-size: 12px;
      margin-right: 10px;
    }
  }

  @include responsive.mobile-styles {
    &.limited {
      // not proud of this; just manually calculated the width of the other breadcrumbs to the left
      // since the left part will always be the same width
      max-width: calc(100vw - 200px);

      .breadcrumb-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}