$color-main-white: #FFF;
$color-main-black: #202020;
$color-main-blue: #0E92FA;

$color-blue-dark: #87C9FD;
$color-blue-darker: #9BC9FF;
$color-blue-neutral: #CFE9FE;
$color-blue-lighter: #E2EEF8;
$color-blue-light: #F3F9FE;

$color-gray-dark: #666;
$color-gray-darker: #8F8F8F;
$color-gray-lighter: #D2D2D2;
$color-gray-light: #F7F7F7;

$color-warning: #EBB376;
$color-error: #C82E2E;
