$color-main-white: #fff;
$color-main-black: #202020;
$color-main-blue: #0e92fa;

$color-blue-dark: #87c9fd;
$color-blue-darker: #9bc9ff;
$color-blue-neutral: #cfe9fe;
$color-blue-lighter: #e2eef8;
$color-blue-light: #f3f9fe;

$color-gray-dark: #666;
$color-gray-darker: #8f8f8f;
$color-gray-lighter: #d2d2d2;
$color-gray-light: #f7f7f7;

$color-warning: #ebb376;
$color-error: #c82e2e;
