@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.about-us {
  display: grid;
  grid-template-areas:
    "title title"
    "text image";
  gap: 56px 130px;

  .about-us-title {
    @include fonts.font(40px, 600, 125%);
    grid-area: title;
  }

  .about-us-content {
    display: flex;
    flex-direction: column;
    grid-area: text;

    .about-us-text {
      @include fonts.font(16px, 400, 160%);
      width: 570px;

      .bold {
        font-weight: 600;
      }
    }

    .about-us-link {
      margin-top: auto;
    }
  }

  .about-us-image {
    grid-area: image;
  }
}