@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.about-us {
  display: grid;
  grid-template-areas:
    "title title"
    "text image";
  gap: 56px 130px;

  .about-us-title {
    @include fonts.font(40px, 600, 125%);
    grid-area: title;
  }

  .about-us-content {
    display: flex;
    flex-direction: column;
    grid-area: text;

    .about-us-text {
      @include fonts.font(16px, 400, 160%);
      width: 570px;

      .bold {
        font-weight: 600;
      }
    }

    .about-us-link {
      margin-top: auto;
    }
  }

  .about-us-image-wrapper {
    grid-area: image;
    width: 470px;
    height: 522px;
    position: relative;

    .about-us-image {
      border-radius: 12px;
      object-fit: cover;
    }
  }

  @include responsive.ipad-styles {
    gap: 40px 30px;

    .about-us-title {
      font-size: 30px;
    }

    .about-us-content {
      .about-us-text {
        width: auto;
        font-size: 14px;
      }
    }

    .about-us-image-wrapper {
      width: 382px;
      height: 512px;
    }
  }

  @include responsive.mobile-styles {
    grid-template-areas:
      "title"
      "image"
      "text";
    gap: 24px;

    .about-us-content {
      gap: 24px;
    }

    .about-us-image-wrapper {
      width: 100%;
    }
  }
}