@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.call-me-back {
  display: flex;
  gap: 130px;
  padding: 80px 100px;
  border-radius: 12px;
  background-color: colors.$color-main-blue;
  position: relative;
  overflow: hidden;

  &-left-block {
    width: 470px;

    .call-me-back-title {
      @include fonts.font(40px, 600, 125%);
      margin-bottom: 24px;
      color: colors.$color-main-white;
    }

    .call-me-back-text {
      @include fonts.font(18px, 600, 140%);
      color: colors.$color-main-white;

      &:first-of-type {
        margin-bottom: 94px;
      }
    }

    .call-me-back-phone {
      @include fonts.font(40px, 600, 125%);
      margin: 8px 0 16px;
      color: colors.$color-main-white;
    }

    .call-me-back-button {
      @include fonts.font(18px, 600, 140%);
      display: flex;
      align-items: center;
      gap: 8px;
      height: auto;
      color: colors.$color-main-white;

      span {
        border-bottom: dotted colors.$color-main-white 1px;
      }

      &:hover {
        color: colors.$color-main-white !important;
      }
    }
  }

  &-form {
    width: 370px;
    padding: 30px;
    border-radius: 12px;
    background-color: colors.$color-main-white;

    .privacy-policy-notice {
      @include fonts.font(14px, 400, 140%);
      margin: 24px 0 28px;

      .blue {
        color: colors.$color-main-blue;
      }
    }

    button {
      @include fonts.font(16px, 600, 140%);
      width: 100%;
      height: 60px;
    }
  }

  @include responsive.ipad-styles {
    justify-content: space-between;
    gap: 30px;
    padding: 56px 48px;

    &-left-block {
      width: 380px;

      .call-me-back-title {
        font-size: 30px;
      }

      .call-me-back-text {
        font-size: 16px;

        &:first-of-type {
          margin-bottom: 56px;
        }
      }

      .call-me-back-button {
        font-size: 14px;
      }
    }
  }

  &-form {
    width: 290px;
    padding: 24px;
    font-size: 14px;

    .privacy-policy-notice {
      font-size: 12px;
    }

    button {
      height: 54px;
    }
  }
  
  @include responsive.mobile-styles {
    flex-direction: column;
    align-items: center;
    padding: 56px 15px;

    &-left-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;

      .call-me-back-title {
        font-size: 24px;
      }

      .call-me-back-text {
        font-size: 14px;

        &:first-of-type {
          margin-bottom: 32px;
        }
      }

      .call-me-back-phone {
        font-size: 24px;
      }
    }
  }

  &-form {
    width: 100%;
  }
}