.popup-outer-wrapper {
  .popup-trigger-wrapper {
    cursor: pointer;
  }

  .popup-content-wrapper {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 5px;
    overflow: hidden;

    outline: solid red 1px;
  }

  &:hover .popup-content-wrapper,
  .popup-content-wrapper:hover
  {
    visibility: visible;
    opacity: 1;
  }
}