.popup-outer-wrapper {
  position: relative;

  .popup-content-wrapper {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    overflow: hidden;
  }

    .popup-trigger-wrapper {
      cursor: pointer;
  
      &:hover + .popup-content-wrapper,
      & + .popup-content-wrapper:hover {
        visibility: visible;
        opacity: 1;
      }
    }
}