@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

.discount-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 204px;
  border-radius: 12px;
  background-color: colors.$color-blue-light;
  background-image: url('/percent.webp'), url('/percent.webp');
  background-size: 430px 400px;
  background-repeat: no-repeat;
  background-position: -77px 100px, 808px -50px;

  &-title {
    @include fonts.font(40px, 600, 125%);
    margin-bottom: 40px;

    &-bold {
      color: colors.$color-main-blue;
    }
  }

  &-text {
    @include fonts.font(20px, 600, 140%);
    margin-bottom: 48px;
    text-align: center;
    color: colors.$color-gray-dark;

    &-bold {
      color: colors.$color-main-black;
    }
  }

  .discount-button {
    @include fonts.font(16px, 600, 140%);
    width: 370px;
    height: 60px;
  }

  @include responsive.ipad-styles {
    padding: 56px 47px;
    background-size: 300px 270px;
    background-position: -20px calc(100% + 5px), calc(100% + 5px) -30%;

    &-title {
      font-size: 30px;
    }

    &-text {
      font-size: 16px;
    }

    .discount-button {
      width: 243px;
      height: 54px;
      font-size: 14px;
    }
  }

  @include responsive.mobile-styles {
    padding: 48px 43px;
    background-size: 88px 80px;
    background-position: -20px 60%, calc(100% + 15px) 20%;
    
    &-title {
      font-size: 24px;
      text-align: center;
    }

    &-text {
      font-size: 14px;
    }

    .discount-button {
      width: 90%;
    }
  }
}