@use '../../../styles/colors.scss';
@use '../../../styles/fonts.scss';

$snowflake-width: 118px;
$snowflake-height: 114px;
$upper-left-snowflake-center-x: 22px; // from the left border
$upper-left-snowflake-center-y: 20px; // from the upper border
$lower-left-snowflake-center-x: 22px; // from the left border
$lower-left-snowflake-center-y: 23px; // from the lower border

.call-me-back {
  display: flex;
  gap: 130px;
  padding: 80px 100px;
  border-radius: 12px;
  background-color: colors.$color-main-blue;
  position: relative;
  overflow: hidden;

  &-left-block {
    width: 470px;
    
    .call-me-back-title {
      @include fonts.font(40px, 600, 125%);
      margin-bottom: 24px;
      color: colors.$color-main-white;
    }

    .call-me-back-text {
      @include fonts.font(18px, 600, 140%);
      color: colors.$color-main-white;

      &:first-of-type {
        margin-bottom: 94px;
      }
    }

    .call-me-back-phone {
      @include fonts.font(40px, 600, 125%);
      margin: 8px 0 16px;
      color: colors.$color-main-white;
    }

    .call-me-back-button {
      @include fonts.font(18px, 600, 140%);
      display: flex;
      align-items: center;
      gap: 8px;
      height: auto;
      color: colors.$color-main-white;

      span {
        border-bottom: dotted colors.$color-main-white 1px;
      }

      &:hover {
        color: colors.$color-main-white !important;
      }
    }
  }

  &-form {
    width: 370px;
    padding: 30px;
    border-radius: 12px;
    background-color: colors.$color-main-white;

    .privacy-policy-notice {
      @include fonts.font(14px, 400, 140%);
      margin: 24px 0 28px;

      .blue {
        color: colors.$color-main-blue;
      }
    }

    button {
      @include fonts.font(16px, 600, 140%);
      width: 100%;
      height: 60px;
    }
  }

  .snowflake {
    position: absolute;
    opacity: 0.15;
    transform: rotate(-120deg);

    &-upper-left {
      top: calc($upper-left-snowflake-center-y - $snowflake-height / 2);
      left: calc($upper-left-snowflake-center-x - $snowflake-width / 2);
    }

    &-lower-left {
      bottom: calc($lower-left-snowflake-center-y - $snowflake-height / 2);
      left: calc($lower-left-snowflake-center-x - $snowflake-width / 2);
    }
  }
}