@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/responsive.scss";

.prices {
  display: grid;
  grid-template-areas:
    "description form"
    "prices prices";
  grid-template-columns: 570px auto;
  gap: 150px 130px;

  .title {
    @include fonts.font(40px, 600, 125%);
  }

  &-description {
    grid-area: description;

    .diagnostics-price {
      padding: 32px;
      margin: 40px 0;
      border-radius: 12px;
      background-color: colors.$color-blue-light;

      &-upper-row,
      &-lower-row {
        @include fonts.font(20px, 600, 140%);
        display: flex;
        justify-content: space-between;
      }

      &-upper-row {
        margin-bottom: 5px;
      }

      &-lower-row {
        span {
          color: colors.$color-main-blue;
        }

        .free {
          text-transform: uppercase;
        }
      }
    }

    &-text {
      @include fonts.font(16px, 400, 160%);
    }
  }

  .call-me-back-form {
    grid-area: form;
  }

  &-block {
    grid-area: prices;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 100px;
    border-radius: 12px;
    background-color: colors.$color-gray-light;
    position: relative;

    &-title {
      @include fonts.font(40px, 600, 125%);
      margin-bottom: 40px;
    }

    .with-parts {
      @include fonts.font(20px, 600, 120%);
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 24px 0;
      border: solid colors.$color-main-blue 1px;
      border-radius: 12px;
      color: colors.$color-main-blue;
    }

    .accordion-list {
      gap: 16px;
      width: 100%;

      .subcategory-price-accordion-toggle-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        border-radius: 12px;
        background-color: colors.$color-main-white;
        cursor: pointer;

        &-label {
          @include fonts.font(20px, 600, 140%);
          text-transform: uppercase;
        }
      }

      .subcategory-price-accordion-content-wrapper {
        display: flex;
        gap: 114px;
        padding: 32px;
        margin-top: 4px;
        border-radius: 12px;
        background-color: colors.$color-main-white;
        overflow: hidden;
        position: relative;

        .subcategory-image {
          z-index: 1;
        }

        .subcategory-service-list {
          display: flex;
          flex-direction: column;
          gap: 12px;
          width: 100%;

          .subcategory-service {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &-label,
            &-price {
              @include fonts.font(20px, 400, 140%);
            }

            &-price {
              @include fonts.font(20px, 600, 140%);
            }
          }
        }
      }
    }
  }

  @include responsive.ipad-styles {
    grid-template-columns: minmax(380px, 1fr) 1fr;
    gap: 100px 90px;

    .title {
      font-size: 30px;
    }

    &-description {
      .diagnostics-price {
        padding: 24px 16px;

        &-upper-row,
        &-lower-row {
          font-size: 16px;
        }

        &-lower-row .free {
          text-transform: none;
        }
      }

      &-text {
        font-size: 14px;
      }
    }

    &-block {
      padding: 56px 48px;

      &-title {
        font-size: 30px;
      }

      .with-parts {
        padding: 16px;
        font-size: 16px;
      }

      .accordion-list {
        .subcategory-price-accordion-toggle-area {
          padding: 16px;

          &-label {
            font-size: 16px;
          }
        }

        .subcategory-price-accordion-content-wrapper {
          gap: 65px;
          padding: 16px;

          .subcategory-service-list {
            .subcategory-service {
              &-label,
              &-price {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  @include responsive.mobile-styles {
    grid-template-areas:
      "description"
      "prices";
    grid-template-columns: 1fr;
    gap: 72px;
    padding: 0 15px;

    .title {
      font-size: 24px;
    }

    &-description {
      .diagnostics-price {
        padding: 16px;
        margin: 24px 0;
      }

      .mobile-expand-description {
        font-weight: 600;
        color: colors.$color-main-blue;
      }

      .call-me-back-button {
        width: 80%;
        height: 54px;
        margin-top: 24px;
        font-size: 14px;
      }
    }

    &-block {
      padding: 56px 16px;

      &-title {
        margin-bottom: 24px;
        font-size: 24px;
      }

      .with-parts {
        padding: 16px 0;
        font-size: 14px;
        white-space: nowrap;
      }

      .accordion-list {
        gap: 8px;

        .subcategory-price-accordion-toggle-area {
          &-label {
            font-size: 14px;
          }

          button {
            width: 40px;
            height: 40px;
            padding: 8px;
          }
        }

        .subcategory-price-accordion-content-wrapper {
          padding: 28px 16px;

          .subcategory-service-list {
            .subcategory-service {
              display: grid;
              grid-template-areas:
                "label price"
                "diagnostics-note-label diagnostics-note-free";

              &-label {
                grid-area: label;

                &.diagnostics-note-label {
                  grid-area: diagnostics-note-label;
                  font-weight: 600;
                  color: colors.$color-main-blue;
                }
              }

              &-price {
                grid-area: price;
                justify-self: end;

                &.diagnostics-note-free {
                  grid-area: diagnostics-note-free;
                  font-weight: 600;
                  color: colors.$color-main-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
