@use '../styles/colors.scss';

:root {
  --global-transition-duration: 0.2s;
  --main-blue-color-filter: brightness(0) saturate(100%) invert(45%) sepia(38%) saturate(4293%) hue-rotate(185deg) brightness(99%) contrast(98%);
  --main-white-color-filter: brightness(0) saturate(100%) invert(100%) sepia(27%) saturate(200%) hue-rotate(236deg) brightness(107%) contrast(101%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  color: colors.$color-main-black;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: var(--global-transition-duration);

  &:hover {
    cursor: pointer;
    color: colors.$color-main-blue;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
