$desktop-content-width: 1170px;

.body {
  padding: 29px calc((100vw - $desktop-content-width) / 2) 296px;

  > * {
    width: $desktop-content-width;
  }

  .call-me-back {
    margin-top: 140px;
  }
}