$desktop-content-width: 1170px;

.body {
  padding: 29px calc((100vw - $desktop-content-width) / 2) 0;

  > * {
    width: $desktop-content-width;
  }

  .breadcrumbs {
    margin: 32px 0 56px 0;
  }

  .call-me-back {
    margin-top: 140px;
  }
}