@use '../styles/breakpoints.scss';

.body {
  padding: 29px calc((100% - breakpoints.$desktop-to-ipad-breakpoint) / 2) 0;
  overflow-x: hidden; // for some snowflakes that overflow over window borders

  > * {
    width: breakpoints.$desktop-to-ipad-breakpoint;
  }

  .breadcrumbs {
    margin: 32px 0 56px 0;
  }

  .call-me-back {
    margin-top: 140px;
  }
}

@media (max-width: breakpoints.$desktop-to-ipad-breakpoint) {
  .body {
    padding: 16px 20px 0;

    > * {
      width: 100%;
    }
  }
}