@use "../../styles/colors.scss";

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  .active-slide-view {
    position: relative;
    // overflow: hidden;

    .slides-container {
      display: flex;
      width: fit-content;
      position: absolute;
      top: 0;
      left: 0;
      transition-duration: var(--global-transition-duration);

      .slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .slider-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;

    .slide-button {
      flex-basis: content;

      &.slide-left-button {
        position: relative;
        top: 2px;
        transform: rotate(180deg);
      }
    }

    .navigation-dashes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-basis: 100%;
      position: relative;
      top: 1px;

      .dash {
        border: solid colors.$color-gray-lighter 1px;
        width: 10%;
        transition-duration: var(--global-transition-duration);

        &.active {
          border-color: colors.$color-main-blue;
          width: 20%;
        }
      }
    }
  }
}
