@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/responsive.scss";

.fridge-manufacturers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  border: solid colors.$color-blue-lighter 5px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  &-title {
    @include fonts.font(40px, 600, 125%);
    margin-bottom: 56px;
    text-align: center;
  }

  &-list {
    display: grid;
    grid-template-rows: repeat(2, 406px);
    grid-template-columns: repeat(3, 303px);
    gap: 30px;
    margin-bottom: 24px;
  }

  @include responsive.ipad-styles {
    padding: 56px 47px;

    &-title {
      font-size: 30px;
      margin-bottom: 40px;
    }

    &-list {
      width: 100%;
      grid-template-rows: repeat(3, 406px);
      grid-template-columns: repeat(2, 335px);
      column-gap: 0;
      justify-content: space-around;
    }
  }

  @include responsive.mobile-styles {
    padding: 56px 16px;
    margin: 0 15px;

    &-title {
      font-size: 24px;
    }
  }
}
