@use '../../styles/fonts.scss';
@use '../../styles/colors.scss';
@use '../../styles/responsive.scss';

.hero-block {
  display: flex;
  gap: 130px;

  .hero-block-left {
    display: flex;
    flex-direction: column;
    flex-basis: 470px;

    .title {
      @include fonts.font(40px, 600, 140%);
      margin-bottom: 48px;

      .in-minsk {
        @include fonts.font(25px, 400, 140%);

        padding: 7px 36px;
        border-radius: 12px;
        color: colors.$color-main-blue;
        background-color: colors.$color-blue-light;
      }
    }

    .guarantees {
      gap: 14px;
      padding: 40px;
      margin-bottom: 28px;
      border: solid colors.$color-blue-dark 1px;
      border-radius: 12px;

      li {
        @include fonts.font(18px, 400, 140%);
        display: flex;
        align-items: center;
        gap: 12px;
        letter-spacing: -0.5px; // overflows otherwise
      }
    }

    .discount-button {
      @include fonts.font(16px, 600, 140%);
      width: 370px;
      height: 60px;
      margin-bottom: 24px;
    }

    .note {
      @include fonts.font(16px, 400, 140%);
      color: colors.$color-gray-dark;

      .aligner {
        visibility: hidden;
      }
    }
  }

  .hero-block-right {
    width: 570px;
    height: 500px;
    position: relative;

    .image {
      border-radius: 12px;
      object-fit: cover;
    }
  }

  @include responsive.ipad-styles {
    gap: 0px;
    justify-content: space-between;

    .hero-block-left {
      flex-basis: 356px;

      .title {
        @include fonts.font(30px, 600, 140%);

        .in-minsk {
          @include fonts.font(18px, 400, 140%);
          padding: 8px 32px;
          border-radius: 8px;
        }
      }

      .guarantees {
        gap: 8px;
        padding: 24px;
        margin-bottom: 24px;

        li {
          @include fonts.font(14px, 400, 140%);
        }
      }

      .discount-button {
        @include fonts.font(14px, 600, 140%);
        width: 243px;
        height: 54px;
      }

      .note {
        @include fonts.font(12px, 400, 140%);
      }
    }

    .hero-block-right {
      width: 382px;
      height: 363px;
    }
  }

  @include responsive.mobile-styles {
    flex-direction: column;
    gap: 32px;

    .open-hours {
      @include fonts.font(14px, 400, 100%);
      display: flex;
      align-items: center;
      gap: 4px;
      margin: 12px 0;
    }

    .hero-block-left {
      align-items: center;
      flex-basis: auto;
      width: 100%;

      .title {
        align-self: flex-start;
        margin-bottom: 32px;
      }

      .guarantees {
        width: 100%;
        margin-bottom: 24px;
      }

      .discount-button {
        width: 90%;
        margin-bottom: 16px;
      }

      .note {
        text-align: center;

        .aligner {
          position: absolute; // to avoid display: none
        }
      }
    }

    .hero-block-right {
      flex-basis: auto;
      width: 100%;
    }
  }
}