@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/responsive.scss";

.frequent-fridge-problems {
  display: grid;
  grid-template-areas:
    "title title"
    "left right";
  grid-template-columns: 470px 570px;
  gap: 56px 130px;

  .title {
    @include fonts.font(40px, 600, 125%);
    grid-area: title;
  }

  .left-content {
    grid-area: left;
    display: flex;
    flex-direction: column;

    .image-container {
      width: 470px;
      height: 470px;
      position: relative;

      .image {
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .call-me-back-text {
      margin: 56px 0 32px 0;
    }

    .call-me-back-button {
      @include fonts.font(16px, 600, 140%);
      width: 370px;
      height: 60px;
    }
  }

  .right-content {
    grid-area: right;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .view-all-problems-button {
      @include fonts.font(16px, 600, 140%);
      align-self: flex-start;
      margin-top: auto;
    }
  }

  @include responsive.ipad-styles {
    grid-template-columns: 277px 1fr;
    gap: 40px;

    .title {
      font-size: 30px;
    }

    .left-content {
      .image-container {
        width: 277px;
        height: 220px;
      }

      .call-me-back-text {
        margin: 40px 0 24px 0;
      }

      .call-me-back-button {
        width: 243px;
        height: 54px;
        font-size: 14px;
      }
    }

    .right-content {
      gap: 8px;

      .view-all-problems-button {
        font-size: 14px;
      }
    }
  }

  @include responsive.mobile-styles {
    grid-template-areas:
      "title"
      "right"
      "left";
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 0 15px;

    .left-content {
      margin-top: 16px;

      .image-container {
        width: 100%;
      }

      .call-me-back-text {
        margin: 24px 0;
      }

      .call-me-back-button {
        width: 80%;
      }
    }

    .right-content {
      .view-all-problems-button {
        margin-top: 20px;
      }
    }
  }
}
