@use '../../styles/colors.scss';
@use '../../styles/responsive.scss';

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  max-width: unset;
  max-height: unset;
  border: none;
  background-color: unset;
  position: fixed;

  &:not([open]) {
    display: none; // this is the default browser behaviour, seo will be fine with it
  }
  
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    height: fit-content;
    max-width: calc(100% - 2em - 6px); // default user agent stylesheet value
    max-height: calc(100% - 2em - 6px); // default user agent stylesheet value
    padding: 32px;
    border-radius: 12px;
    background-color: colors.$color-main-white;

    .close-button {
      padding: 0;
      margin-left: auto;
      background: none;

      &:hover:not(:active) {
        background: none;
      }
    }

    .dialog-content {
      padding: 0 58px 48px 58px;
    }
  }

  &.no-close-button {
    padding: 0;
    background-color: transparent;

    .dialog-content-wrapper {
      padding: 0;
      
      .dialog-content {
        padding: 0;
      }
    }
  }

  &.transparent-backdrop {
    &::backdrop {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.with-backdrop-shadow {
    &::backdrop {
      backdrop-filter: blur(6px);
    }
  }

  @include responsive.ipad-styles {
    &-content-wrapper {
      padding: 24px;
    }
  }
}