@use '../../styles/colors.scss';

.dialog {
  width: fit-content;
  padding: 32px;
  margin: auto;
  border: none;
  border-radius: 12px;
  
  &::backdrop {
    background-color: colors.$color-main-black;
    opacity: 0.5;
  }

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;

    .close-button {
      padding: 0;
      margin-left: auto;
      background: none;

      &:hover:not(:active) {
        background: none;
      }
    }

    .dialog-content {
      padding: 0 58px 48px 58px;
    }
  }
}