@use '../../styles/colors.scss';

.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;

    .close-button {
      padding: 0;
      margin-left: auto;
      background: none;

      &:hover:not(:active) {
        background: none;
      }
    }

    .dialog-content {
      padding: 0 58px 48px 58px;
    }
  }

  &.no-close-button {
    padding: 0;

    .dialog-content-wrapper {
      .dialog-content {
        padding: 0;
      }
    }
  }

  &.transparent-backdrop {
    &::backdrop {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  &.with-backdrop-shadow {
    &::backdrop {
      backdrop-filter: blur(6px);
    }
  }
}