@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

$snowflake-width: 153px;
$snowflake-height: 148px;
$upper-left-snowflake-center-x: 22px; // from the left border
$upper-left-snowflake-center-y: 20px; // from the upper border
$upper-right-snowflake-center-x: 22px; // from the right border
$upper-right-snowflake-center-y: 23px; // from the upper border

.how-to-order-repairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 100px;
  border-radius: 12px;
  background-color: colors.$color-blue-lighter;
  position: relative;

  .title {
    @include fonts.font(40px, 600, 125%);
  }
  
  .steps {
    display: flex;
    align-items: center;
    gap: 18px;

    .step {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 270px;
      height: 278px;
      padding: 30px;
      border-radius: 8px;
      background-color: colors.$color-main-white;

      &-title {
        @include fonts.font(16px, 400, 140%);
        color: colors.$color-gray-dark;
      }

      &-description {
        @include fonts.font(16px, 400, 140%);
        text-align: center;
      }
    }
  }

  .snowflake {
    position: absolute;
    filter: var(--main-white-color-filter);
    transform: rotate(-120deg);

    &-upper-left {
      top: calc($upper-left-snowflake-center-y - $snowflake-height / 2);
      left: calc($upper-left-snowflake-center-x - $snowflake-width / 2);
    }

    &-upper-right {
      top: calc($upper-right-snowflake-center-y - $snowflake-height / 2);
      right: calc($upper-right-snowflake-center-x - $snowflake-width / 2);
    }
  }
}