@use "../../styles/colors.scss";
@use "../../styles/fonts.scss";
@use "../../styles/responsive.scss";

.how-to-order-repairs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 100px;
  border-radius: 12px;
  background-color: colors.$color-blue-lighter;
  position: relative;

  .title {
    @include fonts.font(40px, 600, 125%);
  }

  .steps {
    display: flex;
    align-items: center;
    gap: 18px;
  }

  @include responsive.ipad-styles {
    gap: 40px;
    padding: 56px 48px;

    .title {
      font-size: 30px;
    }

    .steps {
      display: grid;
      grid-template-areas:
        "first second"
        "third third";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 16px;
    }
  }

  @include responsive.mobile-styles {
    gap: 24px;
    margin: 0 15px;

    .title {
      font-size: 24px;
      text-align: center;
    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    .background-snowflake {
      &-2 {
        top: 36% !important;
      }

      &-3 {
        top: 66% !important;
      }
    }
  }
}
