@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';

.service {
  display: grid;
  grid-template-areas:
    "description form"
    "content content"
  ;
  grid-template-columns: auto 460px;
  gap: 56px 130px;

  .description-wrapper {
    grid-area: description;

    .description-title {
      @include fonts.font(40px, 600, 125%);
      margin-bottom: 40px;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .description-text {
        @include fonts.font(16px, 400, 160%);
      }

      .description-list-title {
        @include fonts.font(20px, 600, 140%);
      }

      .description-list {
        gap: 8px;

        li {
          @include fonts.font(16px, 400, 160%);
          display: flex;
          align-items: flex-start;
          gap: 14px;

          img {
            position: relative;
            top: 7px;
          }
        }
      }

      .description-image {
        margin-top: 40px;
      }
    }
  }

  .form {
    grid-area: form;
    height: fit-content;
    padding: 48px;
    box-shadow: 2px 2px 50px 0px #2020200F;

    .form-title {
      @include fonts.font(20px, 600, 120%);
      margin-bottom: 20px;
    }

    .form-subtitle {
      @include fonts.font(16px, 400, 140%);
      margin-bottom: 24px;
    }

    .privacy-policy-notice {
      @include fonts.font(14px, 400, 140%);
      margin: 24px 0 32px;
      color: colors.$color-gray-dark;

      .blue {
        color: colors.$color-main-blue;
      }
    }

    button {
      width: 100%;
      height: 60px;
    }
  }

  .content-wrapper {
    grid-area: content;
  }
}