@use "../../styles/fonts.scss";
@use "../../styles/colors.scss";
@use "../../styles/responsive.scss";

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .call-me-back-button {
    width: 187px;
    height: 48px;
    margin-left: auto;

    &-dialog {
      width: 243px;
      height: 54px;
      margin-left: 0;
    }
  }

  @include responsive.ipad-styles {
    justify-content: space-between;
    padding-bottom: 14px;
    border-bottom: solid colors.$color-gray-lighter 1px;
  }

  @include responsive.mobile-styles {
    padding: 14px;
    margin: 0;
    border-bottom: none;
    background-color: colors.$color-gray-light;
  }
}
