@use '../../styles/fonts.scss';

.header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  .logo {
    margin-right: 50px;
  }

  .contacts {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    gap: 8px 50px;
    grid-auto-flow: column;
    font-style: normal;

    .icon-text-pair {
      @include fonts.font(14px, 400, 140%);
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .socials {
      grid-row: span 2;
    }
  }

  .call-me-back {
    width: 187px;
    height: 48px;
    margin-left: auto;
  }
}