@use '../../styles/fonts.scss';
@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';

.main-advantages {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 100px;
  border: solid colors.$color-blue-lighter 5px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  .title {
    @include fonts.font(40px, 600, 125%);
    text-align: center;
  }

  .advantages-block {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 270px);
    gap: 64px 73px;

    .advantage {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .advantage-header {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: solid colors.$color-gray-lighter 1px;

        .advantage-title {
          @include fonts.font(20px, 600, 100%);

          .advantage-subtitle {
            @include fonts.font(14px, 600, 100%);
            color: colors.$color-main-blue;
          }
        }
      }

      .advantage-content {
        gap: 16px;
        
        li {
          display: flex;
          align-items: flex-start;
          gap: 12px;

          img {
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: breakpoints.$desktop-to-ipad-breakpoint) and (min-width: breakpoints.$ipad-to-mobile-breakpoint) {
  .main-advantages {
    padding: 56px 105px;

    .title {
      @include fonts.font(30px, 600, 125%);
    }

    .advantages-block {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 260px);
      justify-content: space-around;

      .advantage {
        gap: 16px;
        
        .advantage-header {
          gap: 16px;
          padding-bottom: 16px;

          .advantage-title {
            font-size: 16px;

            .advantage-subtitle {
              white-space: nowrap;
            }
          }

          .advantage-content {
            gap: 12px;

            li {
              @include fonts.font(14px, 400, 140%);
            }
          }
        }
      }
    }
  }
}