@use "../../styles/fonts.scss";
@use "../../styles/colors.scss";
@use "../../styles/responsive.scss";

.main-advantages {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 100px;
  border: solid colors.$color-blue-lighter 5px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  .title {
    @include fonts.font(40px, 600, 125%);
    text-align: center;
  }

  .advantages-block {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 270px);
    gap: 64px 73px;
  }

  @include responsive.ipad-styles {
    padding: 56px 105px;

    .title {
      @include fonts.font(30px, 600, 125%);
    }

    .advantages-block {
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 260px);
      justify-content: space-around;
    }
  }

  @include responsive.mobile-styles {
    padding: 56px 16px;
    margin: 0 15px;

    .title {
      font-size: 24px;
    }

    .advantages-block {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
