@use '../../styles/colors.scss';
@use '../../styles/fonts.scss';
@use '../../styles/responsive.scss';

$input-upper-padding: 22px;

.form {
  .field-wrapper {
    margin-bottom: 20px;
    border-bottom: solid colors.$color-gray-lighter 1px;
    position: relative;
    transition-duration: var(--global-transition-duration);

    .input-wrapper .input,
    .placeholder {
      @include fonts.font(16px, 400, 140%);
    }

    .input-wrapper {
      padding: $input-upper-padding 0 14px 0;

      .input {
        width: 100%;
        outline: none;
        border: none;

        &.textarea {
          field-sizing: content;
          resize: none;
        }
      }
    }

    .placeholder {
      position: absolute;
      top: $input-upper-padding;
      left: 0;
      transition-duration: var(--global-transition-duration);
    }

    &:hover,
    &.active-field {
      border-bottom: solid colors.$color-main-blue 1px;

      .placeholder {
        color: colors.$color-main-blue;
      }
    }

    &.active-field,
    &.non-empty-field {
      .placeholder {
        top: 0;
        transform-origin: 0 0;
        transform: scale(0.8);
      }
    }

    &.invalid-field {
      .input-wrapper {
        border-bottom: solid colors.$color-error 1px;
      }

      .placeholder {
        color: colors.$color-error;
      }

      .error-message {
        @include fonts.font(14px, 400, 140%);
        color: colors.$color-error;
        white-space: nowrap;
        position: absolute;
        bottom: -1.5em;
      }
    }
  }

  @include responsive.ipad-styles {
    .field-wrapper {
      .input-wrapper .input,
      .placeholder {
        font-size: 14px;
      }

      &.invalid-field {
        .error-message {
          font-size: 12px;
        }
      }
    }

    .submit-button {
      font-size: 12px;
    }
  }
}